<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' }}">
    <link rel="stylesheet" href="{{ '/assets/css/swiper.min.css' }}">
    <script src="{{ '/assets/js/swiper.min.js' }}"></script>
    <link rel="stylesheet" href="{{ '/assets/css/about.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/main.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  </head>
  <body>
    <header id="banner" role="banner">
      <div class="container">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <div class="project-info">
          <h2 class="project-tagline">{{ page.about_me | default: site.about_me | default: site.github.project_tagline }}</h2>
          <div class="project-btns">
            {% if site.show_downloads %}
              <a href="/" class="btn">Home</a>
              <a href="{{ '/assets/files/' | append: site.cv_url }}" class="btn">Get CV</a>
            {% endif %}
          </div>
        </div>
        {% if site.show_social_links %}
          <ul id="social-icons" class="icons social-icons">
            <li><a target="_blank" href="https://www.facebook.com/boshun.liao" class="icon fa-facebook-official fb-hover">
              <span class="label">Facebook</span>
            </a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/benson-liao-85a4a0153/" class="icon fa-linkedin linkedin-hover">
              <span class="label">Linkedin</span>
            </a></li>
            <li><a target="_blank" href="https://github.com/BensonLiao" class="icon fa-github github-hover">
              <span class="label">Github</span>
            </a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCcRM8jI5HRB2QpdO0QSE_PQ" class="icon fa-youtube youtube-hover">
              <span class="label">YouTube</span>
            </a></li>
          </ul>
        {% endif %}
      </div>
      <div class="progress-container">
        <div class="progress-bar" id="my-progress-bar"></div>
      </div> 
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <!-- Slider main container -->
      <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <img src="{{ '/assets/img/lucky_1.jpg' }}" />
              </div>
              <div class="swiper-slide">
              <img src="{{ '/assets/img/lucky_2.jpg' }}" />
              </div>
              <div class="swiper-slide">
                <img src="{{ '/assets/img/group_shot.jpg' }}" />
              </div>
              <div class="swiper-slide">
                <img src="{{ '/assets/img/fb_visit.jpg' }}" />
              </div>
              <div class="swiper-slide">
                <img src="{{ '/assets/img/google_visit.jpg' }}" />
              </div>
              <div class="swiper-slide">
                <img src="{{ '/assets/img/line_hq.jpg' }}" />
              </div>
              <div class="swiper-slide">
                <img src="{{ '/assets/img/line_techpulse.jpg' }}" />
              </div>
              <div class="swiper-slide">
                <img src="{{ '/assets/img/playing_guitar.jpg' }}" />
              </div>
              <div class="swiper-slide">
                <img src="{{ '/assets/img/taichung_travel.jpg' }}" />
              </div>
              <div class="swiper-slide">
                <img src="{{ '/assets/img/cat_wink.jpg' }}" />
              </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          <!-- If we need scrollbar -->
          <div class="swiper-scrollbar"></div>
      </div>

      <!-- Fixed navigate button -->
      <div class="fixed-nav-dropup">
          <div class="dropup">
            <button class="dropbtn">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="dropup-content">
              <a class="dropbtn-link" href="/">Home</a>
              <a href="#">Top</a>
            </div>
          </div>
        </div>

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">
          &copy; 2019 Benson Liao This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.
        </span>
      </footer>
    </main>
    <script src="{{ '/assets/js/newSwiper.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  </body>
</html>
