<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' }}">
    <script src="{{ '/assets/js/main.js' }}"></script>
  </head>
  <body>
    <header id="banner" role="banner">
      <div class="container">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <div class="project-info">
          <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
          <div class="project-btns">
            {% if site.github.is_project_page %}
              <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
            {% endif %}
            {% if site.show_downloads %}
              <a href="{{ site.github.zip_url }}" class="btn">About Me</a>
              <a href="{{ site.github.tar_url }}" class="btn">Get CV</a>
            {% endif %}
          </div>
        </div>
        {% if site.show_social_links %}
          <ul id="social-icons" class="icons social-icons">
            <li><a target="_blank" href="https://www.facebook.com/boshun.liao" class="icon fa-facebook-official fb-hover">
              <span class="label">Facebook</span>
            </a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/benson-liao-85a4a0153/" class="icon fa-linkedin linkedin-hover">
              <span class="label">Linkedin</span>
            </a></li>
            <li><a target="_blank" href="https://github.com/BensonLiao" class="icon fa-github github-hover">
              <span class="label">Github</span>
            </a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCcRM8jI5HRB2QpdO0QSE_PQ" class="icon fa-youtube youtube-hover">
              <span class="label">YouTube</span>
            </a></li>
          </ul>
        {% endif %}
      </div>
      <div class="progress-container">
        <div class="progress-bar" id="my-progress-bar"></div>
      </div> 
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <div class="fixed-nav-dropup">
        <div class="dropup">
          <button class="dropbtn">Nav</button>
          <div class="dropup-content">
            <a href="#">Top</a>
            <a href="#introduce">Intro</a>
            <a href="#service">Service</a>
            <a href="#projects">Project</a>
          </div>
        </div>
      </div>

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">
          &copy; 2019 Benson Liao This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.
        </span>
      </footer>
    </main>
  </body>
</html>